<!DOCTYPE html>
<html>
<head>
    <title>Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard-card">
    <h1>Journal 📓</h1>
    <p>Write your thoughts</p>

    <textarea rows="6" placeholder="Write here..." style="width:100%;border-radius:12px;padding:15px;"></textarea>
    <br><br>

    <button class="dash-btn">Save</button>
    <a href="/dashboard"><button class="dash-btn logout-btn">Back</button></a>
</div>

</body>
</html>